
#form-container {
  width: 30%;
  margin: 100px auto;
}
#form-container h1 {
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}
input, select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 5px rgba(29,29,29,0.25);
  margin-top: 5px;
  margin-bottom: 20px;
}
label {
  font-weight: bold;
}
textarea {
  resize: none;
  height: 100px;
}
#submit-button-container {
  display: flex;
  justify-content: end;
}
#submit-button {
  font-size: 16px;
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
  background-color: #001736;
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
}
#submit-button:hover {
  background-color: #006bff;
}
#project-date-container {
  display: flex;
}
#project-date-container div:nth-child(1) {
  margin-right: 5px;
}
#project-date-container div:nth-child(2) {
  margin-left: 5px;
}
#technologies-container input {
  width: fit-content;
}
#technologies-container > div {
  display: flex;
  margin-top: 10px;
}
#technologies-container > div > div {
  width: 50%;
}
#technologies-container > div label {
  color: rgba(29,29,29,0.75);
}
#upload-image-container > label:nth-child(2) > input {
  display: none;
}
#upload-image-container > label:nth-child(2) {
  display: block;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 5px rgba(29,29,29,0.25);
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#upload-image-container > label:nth-child(2) > span {
  background-color: rgba(29,29,29,0.2);
  padding: 10px;
  border-radius: 5px;
  color: rgba(29,29,29,0.5);
}
#upload-image-container > label:nth-child(2) > i {
  margin-right: 10px;
  color: #001736;
}
#upload-image-container:hover > label:nth-child(2) > i {
  color: #006bff;
}
#project-list {
  background-color: #fbfbfb;
  padding-top: 50px;
}
#project-list h1 {
  font-weight: 900;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
#project-list > div {
  display: flex;
  justify-content: center;
  width: 100%;
}
#projects-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
#project-container {
  width: 30%;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(29,29,29,0.25);
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
  overflow: hidden;
}
#project-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 7px;
}
#project-container > a {
  text-decoration: none;
}
#project-container h3 {
  margin-bottom: 0;
}
#project-container a:hover h3 {
  color: #006bff;
  text-decoration: underline;
}
#project-container > div:nth-child(3) {
  color: rgba(29,29,29,0.5);
}
#project-container p {
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}
#project-container > div:nth-child(5) {
  margin-bottom: 40px;
}
#project-container i {
  margin-right: 20px;
}
#project-container > div:nth-child(6) {
  display: flex;
  justify-content: space-between;
}
#project-container button {
  border: 0;
  background-color: #001736;
  color: #ffffff;
  padding: 5px 30px;
  width: 49%;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
}
#project-container button:hover {
  background-color: #006bff;
}
@media (max-width: 1024px) {
  #form-container {
    width: 80%;
  }
  #projects-container {
    width: 100%;
  }
  #project-container {
    width: 100%;
  }
  #project-container i {
    margin-top: 10px;
  }
}
